
  .all {
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;

    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
    .text {
      opacity: 1;
    }
    & > div {
      opacity: 1;
      transition-delay: 0s;
    }
    .explainer {
      opacity: 0;
    }
  }
  .all:hover {
   
  }
  
  .left, .center, .right, .lefter, .righter {
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgba(104, 102, 102, 0.4);
    opacity: 0;
    transition: all .3s ease;
   // transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #C4121A;
    cursor: pointer;
    //background-blend-mode: color-burn;
    
    &:hover {
      box-shadow: 0 0 30px 10px rgba(212, 212, 216, 0.6);
    background-color: #72B743;
    width: 1000px;
    height: 250px;
    }
  }
.efecto {
  &:hover {
    box-shadow: 0 0 30px 10px rgba(212, 212, 216, 0.6);
  background-color: #72B743;
  -webkit-transform:scale(1.1);transform:scale(1.1);

  }
}

a {
  text-decoration: none; 
  color: #000; 
}

a:hover {
  
}

  .text {
    transform: translateY(30px);
    opacity: 0;
    font-size: 20px;
    transition: all .3s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    color: #C4121A;
    text-align: center;
    //text-shadow: 0 0 5px rgba(100, 100, 255, .6)
  }
  .lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url("/assets/activar2.png");
  }
  .left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background-image: url("/assets/digitar1.png");
  }
  .center {
    opacity: 1;
    background-image: url("/assets/preparar.png");
  }
  .right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url("/assets/recibo.png");
  }
  .righter {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url("/assets/hospital.png");
  }
  .explainer {
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    transition: all .6s ease;
    width: 100%;
    height: 100%;
    background-color: #C4121A;
   // background-image: radial-gradient(circle at center top, #cce, #C4121A);
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .ref {
    background-color: #000;
    background-image: linear-gradient(to bottom, #d80, #c00);
    border-radius: 3px;
    padding: 7px 10px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    &::first-letter {
      font-size: 12px;
    }
  }


  .prueba{
    width: 50%;
    height: 50%;
    background: #ffffff1e;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
  }