<!--<div class="all">
 
    <a href="/pages/activacion-receta" >
      <img src="/assets/activar2.png" />
    
    </a>
 

  <div class="left">
    <a href="/pages/digitacion">
    <div class="text">Digitada</div>
    </a>
  </div>
  <div class="center">
    <a href=""> <div class="text">Preparada</div></a>
   
    </div>
  <div class="right">
    <a href="">
    <div class="text">Recibo en Despacho de Ebais</div>
    </a>
  </div>
  <div class="righter">
     <a href="">
    <div class="text">Entregado a pacientes</div>
     </a>
  </div>
  </div>   -->

  
  <div class="wrapper text-center" style="border-radius: 12px;">

        
    <div class="menu-container">
      <div class="efecto"> 
        <a routerLink="/pages/activacion-receta"><img height="100px" src="../../../assets/activar2.png" >
                <div class="etiquetasMenu">Activada</div>
              </a>
      </div>
      <div class="efecto">
        <a routerLink="/pages/digitacion"><img height="100px" src="../../../assets/digitar1.png" >
                <div class="etiquetasMenu">Digitada</div>
              </a>
      </div>
      <div class="efecto">
        <a routerLink="/pages/dashboard" ><img height="100px" src="../../../assets/preparar.png" >
        <div class="etiquetasMenu">Preparada</div>
      </a>
      </div>
      <div class="efecto">
        <a routerLink="/pages/dashboard" ><img img height="100px" src="../../../assets/recibo.png" >
        <div class="etiquetasMenu">Recibo en Despacho de Ebais</div>
      </a>
      </div>
      <div class="efecto">
        <a routerLink="/pages/dashboard" ><img height="100px" src="../../../assets/hospital.png" >
                <div class="etiquetasMenu">Entregado a pacientes</div>
              </a>
      </div>
    </div>
 

    


    
   