<div class="center">
    <h1 class="titulo">Entrega a pacientes</h1>
</div>

<p-table
#dt
id="dt"
[value]="objRecetasPaquete"
[(selection)]="selectedReceta"
[rows]="10"
[paginator]="true"
[globalFilterFields]="[ 'cedula','nombre', 'ebais','fechaRevision']"
[rowHover]="true"
dataKey="cedula"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[showCurrentPageReport]="true"
>
<ng-template pTemplate="caption">
    
   
    <div class="d-flex justify-content-between">

        <div class="col-md-3" style="display: flex; align-items: center;">

            
            <span class="p-input-icon-left" style="margin-right: 10px;">
                <i class="pi pi-search"></i>
                <input pInputText type="text" style="width: 200px;" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
                
            </span>
       
           
            <select class="form-select form-control" style="width: 200px;" [formControl]="IdLugarRetiro" >
              <option value="-1">Seleccione</option>
              <option id="IdLugarRetiro" *ngFor="let obj of objLugarRetiro" [value]="obj.idLugarRetiro">
                {{obj.nombreLugar }}
              </option>
            </select>
            <button (click)="CargarRecetasRevisadasEbais()"  class="btn btn-danger" style="background-color: #c4121a; margin-left: 10px;"> <i class="pi pi-search"></i></button>
                
             
        </div>
    
        <button pButton pRipple label="Marcar entregada"  (click)="MarcarEntregada()" class="p-button-success mr-2"></button> 
    

      </div>
      <br>
      <h5 class="m-0">Listado de recetas</h5>
</ng-template>

<ng-template pTemplate="header">
    <tr>
      
        <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        
        <th pSortableColumn="cedula" style="min-width:15rem">Cédula <p-sortIcon field="cedula"></p-sortIcon></th>
        <th pSortableColumn="nombre" style="min-width:15rem">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
        <th pSortableColumn="ebais" style="min-width:15rem">Ebais <p-sortIcon field="ebais"></p-sortIcon></th>
        <th pSortableColumn="fechaRevision">Fecha Revisión<p-sortIcon field="fechaRevision"></p-sortIcon></th>
      
    </tr>
</ng-template>
<ng-template pTemplate="body" let-receta>
    <tr>
        <td>
            <p-tableCheckbox [value]="receta"></p-tableCheckbox>
        </td>
        <td>{{ receta.cedula }}</td>
        <td>{{ receta.nombre }}</td>
        <td>{{ receta.ebais }}</td>
        <td>{{ receta.fechaRevision | date:"short" }}</td>
    
    </tr>
</ng-template>
<ng-template pTemplate="summary">
  
</ng-template>
</p-table>
<br>

  <br>