<div class="center">
    <h1 class="titulo">RECIBO DE PAQUETES </h1>
</div>



<p-table
#dt
id="dt"
[value]="objPaquetes"
[(selection)]="selectedPaquete"
[rows]="10"
[paginator]="true"
[globalFilterFields]="['ebais','fechaRecibido', 'identificador','digitador']"
[rowHover]="true"
dataKey="identificador"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[showCurrentPageReport]="true"
>
<ng-template pTemplate="caption">
    
  
    <div class="d-flex justify-content-between ">
       
       
        <div class="col-md-3" style="display: flex; align-items: center;">
           
            <select class="form-select form-control" [formControl]="IdLugarRetiro" aria-label="Default select example">
              <option value="-1">Seleccione</option>
              <option id="IdLugarRetiro" *ngFor="let obj of objLugarRetiro" [value]="obj.idLugarRetiro">
                {{obj.nombreLugar }}
              </option>
            </select>
            <button (click)="CargarPaquetesEbais()"  class="btn btn-danger" style="background-color: #c4121a; margin-left: 10px;"> <i class="pi pi-search"></i></button>
        </div>
          
        <div class="col-md-3">
            
            <button pButton pRipple label="Marcar revisado" (click)="RevisarPaquete()" class="p-button-success mr-2"></button>
          </div>
            
        </div>

      <br>

      <h5 class="m-0">Listado de paquetes </h5>
</ng-template>

<ng-template pTemplate="header">
    <tr>
      
        <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
 
       
        <th pSortableColumn="ebais" style="min-width:15rem">Ebais <p-sortIcon field="ebais"></p-sortIcon></th>
        <th pSortableColumn="fechaRecibido" style="min-width:15rem">Fecha recibido <p-sortIcon field="fechaRecibido"></p-sortIcon></th>
        <th pSortableColumn="identificador">NO.Paquete<p-sortIcon field="identificador"></p-sortIcon></th>
        <th pSortableColumn="digitador">Digitador<p-sortIcon field="digitador"></p-sortIcon></th>
     
      
    </tr>
</ng-template>
<ng-template pTemplate="body" let-receta>
    <tr>
        <td>
            <p-tableCheckbox [value]="receta"></p-tableCheckbox>
        </td>
    
        <td>{{ receta.ebais }}</td>
        <td>{{ receta.fechaPaquete | date:"medium"}}</td>
        <td>{{ receta.identificador }}</td>
        <td>{{ receta.digitador }}</td>
     
    </tr>
</ng-template>
<ng-template pTemplate="summary">
  
</ng-template>
</p-table>
<br>

  <br>
