<!--
<div class="center">
    <h1 class="titulo">REQUISITOS Y PROCEDIMIENTOS</h1>
</div>

-->

<nb-card >
    <nb-card-header ><img height="100px" src="../../../assets/proceso.png" > INFORMACIÓN </nb-card-header>
    <nb-card-body>
      <i class="bi bi-clipboard2-check-fill"></i>
        Tenemos a su disposición la herramienta para la activación de receta electrónica, la cuál podrá utilizarse de lunes a jueves de 7:00 am a 4:00 pm.
        Viernes de 7:00 am a 3:00 pm.
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>

  <nb-card >
    <nb-card-header ><img height="100px" src="../../../assets/requisito.png" > REQUISITOS</nb-card-header>
    <nb-card-body>
        1. Tener seguro al día. <br><br>
        2. Contar con datos actualizados en EDUS, teléfono y correo electrónico.
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>

  <nb-card >
    <nb-card-header ><img height="100px" src="../../../assets/pasos.png" > PASOS A SEGUIR</nb-card-header>
    <nb-card-body>
        1. Escaneé el código QR o ingrese a la dirección electrónica www.coopesalud.org<br><br>
        2. Verifique la fecha de retiro de la receta. Puede activarla 3 días hábiles antes o después de la fecha que indica la 
        receta. <br><br>
        3. Ingrese los 9 dígitos del número de cédula o los 7 dígitos del del número asegurado (1447356) incluyendo los 
        ceros. No digite guiones ni espacios.<br><br>
        4. Ingrese nombre nombre y apellidos completos, tal y como se indica en el comprobante.<br><br>
        5. Ingrese la fecha de retiro que indica el comprobante.<br><br>
        6. Seleccione la sede del EBAIS al que se encuentra afiliado. <br><br>
        7. Finalice el proceso marcado "Enviar".<br><br>
        8. Si tiene más de un comprobante, realice una nueva solicitud siguiendo los pasos anteriores.
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>



  <nb-card >
    <nb-card-header > <img height="100px" src="../../../assets/retirar.png" > REQUISITOS PARA RETIRAR LOS MEDICAMENTOS EN VENTANILLA</nb-card-header>
    <nb-card-body>
        • Presente el comprobante de la receta copia activada y documento de identificación de la persona que retira.<br> <br>
        • Si el trámite es realizado por una tercera persona, debe presentar sin excepción: <br>
        1. Copia del documento de identidad del propietario de la receta.<br><br>
        2. Cédula de la tercera persona que tramita en ventanilla e igualmente.<br><br>
        3. El comprobante de la receta.<br><br>
        NOTA: Tiempo de entrega de la receta Copia: 3 días hábiles después de activada su receta.
         No incluye sábados y domingos. Por ejemplo: 
         si usted activó la receta el lunes a las 12 md, 
         puede presentarse a retirar el medicamento el jueves a las 12md. 
         Posteriormente cuenta con 3 días hábiles para retirar el medicamento.
    </nb-card-body>
    <nb-card-footer>En caso de dudas o consultas, comuníquese al número 2275-7754 del servicio de Farmacia del Área de Salud de Desamparados 2.</nb-card-footer>
  </nb-card>


<div style="text-align: right;">
    <p-button styleClass="boton-guardar" (onClick)="mostrarActivacionReceta()" label="Siguiente"></p-button>
</div>


